<h1 style="text-align: center;">Racing Robots</h1>
<div id="wrapper">
  <div class="painting-robot robot">
    <mat-icon class="robot-icon">precision_manufacturing</mat-icon>
    <div class="artworks">
      <app-artwork-card *ngFor="let artwork of drawingRobot.createdArtwork" [artwork]="artwork"></app-artwork-card>
    </div>
    <p *ngIf="drawingRobot.total >= goal">Done!</p>
  </div>
  
  <div class="drawing-robot robot">
    <mat-icon class="robot-icon">precision_manufacturing</mat-icon>
    <div class="artworks">
      <app-artwork-card *ngFor="let artwork of paintingRobot.createdArtwork" [artwork]="artwork"></app-artwork-card>
    </div>
    <p *ngIf="paintingRobot.total >= goal">Done!</p>
  </div>
</div>